:root {
    --black: #000000;
    --text: #ffffff;
    --aqua:aqua ;
  }

.header-body{
    background-color: var(--black) !important;
}
.text-color{
    color: aqua !important;
}
.bg-color{
    background-color: var(--aqua) !important;
}
.form-control{
    border-radius: 0px !important;
}
.form-control:focus {
    border-color: var(--black) !important;
    box-shadow: 0 0 0 0.2rem rgba(83, 87, 87, 0.384) !important;
} 
.btn{
    border-radius: 0px !important;
}